/* Roll-up transition */

.roll-up-leave {
  transform: translate(0, 0);
  opacity: 1;
}
.roll-up-leave.roll-up-leave-active {
  transform: translate(-100%, 0);
  opacity: 0;
  transition: opacity 1.5s ease-out, transform 1.5s ease-out;
}

.roll-up-enter {
  transform: translate(-100%, 0);
  opacity: 0;
}
.roll-up-enter.roll-up-enter-active {
  transform: translate(0, 0);
  opacity: 1;
  transition: opacity 1.5s ease-out, transform 1.5s ease-out;
}

.roll-up-height {
  transition: height 1.5s ease-out;
}
