body {
  font-family: 'Source Sans Pro', sans-serif;
  color: white;
  font-size: 3vmin;
}

h1 {
  font-size: 9vmin;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Source Serif Pro', sans-serif;
  color: white;
}

a {
  text-decoration: underline;
  color: white;
}

a:visited {
  color: white
}

.icons img {
  width: 30px;
  margin-right: 15px;
}

.icons img:hover {
  opacity: 0.7
}

.nav {
  margin-top: 20px;
  margin-bottom: 20px;
}

.nav a {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: lighter;
  font-size: 5vmin;
  text-decoration: none;
}

.back-button-pad {
  margin-bottom: 10px;
}

.back-button {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: lighter;
  font-size: 5vmin;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  color: white;
}

.container {
  width: 100%;
  height: 100%;
}

.page-container {
  position: absolute;
  top: 30%;
  height: 70%;
  width: 100%;
}

.profile-container {
  height: 100vh;
  width: 100vw;
  background-size: cover;
}

.profile-container:before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(to left,transparent,black);
  opacity: .7;
  z-index: 0;
}

.main-image {
  border-radius: 10px;
  opacity: 1.0;
  margin-top: 20px;
  margin-bottom: 20px;
}

@keyframes example {
    from {width: 0%;}
    to {width: 100%;}
}

.divider {
  width: 100%;
  border-bottom: 1px solid #eee;
  margin-bottom: 20px;
  animation-name: example;
  animation-duration: 4s;
  animation-iteration-count: 1;
}
